In [1]:
import pandas as pd

In [2]:
cand = pd.read_csv('candidate_activated_skills.csv')

In [4]:
cand = cand[['skills_cache', 'label']]

In [6]:
cand.to_csv('candidate_activated_skills.csv')

In [7]:
jobs = pd.read_csv('jobs_with_label_published_2024.csv')
jobs

,id,primary_keyword,extra_keywords,first_child,main_category,label
0,618681,Project Manager,Agile Scrum/Kanban,project_manager,management,Project Manager
1,618682,Business Analyst,NaN,business_analyst,other_tech,Business Analyst
2,618683,Ruby,"Ruby,Ruby On Rails,AWS,Backend development,ROR",ruby,development,Ruby
3,618684,Sales,"Outbound outreach,linkedin outreach,Sales Navi...",sales,marketing_and_sales,Sales
4,618685,Data Science,"Python,Data Science,CI/CD,ML",data_science,data_analytics,Data Science
...,...,...,...,...,...,...
90752,666674,Head Chief,"Team Management,iGaming,Gaming Industry,Online...",head_chief,leadership,Head / Chief
90753,551328,Marketing,"video,video content,YouTube,TikTok,SMM,Social ...",marketing,marketing_and_sales,Marketing
90754,528843,Advertising,"Lead generation / Research,digital marketing,c...",marketing,marketing_and_sales,Marketing
90755,634707,Support,"SQL,Linux,Oracle,Bash & Shell scripts,L3",support,other_nontech,Customer/Technical Support
90756,691279,Marketing,Brand Marketing,marketing,marketing_and_sales,Marketing

In [8]:
jobs = jobs[['extra_keywords', 'label']]

In [9]:
jobs.to_csv('jobs_with_label_published_2024.csv')